# <u>Apple Sales Retail Analysis Report</u>
*Tools used: SQL*

# <u>Extract, Transform, Load Process (ETL)</u>

### Load the ipython-sql extension

In [100]:
# Load the ipython-sql extension
%load_ext sql

# Connect to the PostgreSQL database (replace with your credentials)
%sql postgresql://uauixbmmi7hdbhbtx1pg:MhJAS62A8ExDnsRIxVK40ab3snEIO2@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw

# Fix formatting issue with extension
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Import csv files into new SQL tables

In [108]:
"""
!pip install sqlalchemy-utils
import os
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

# Create SQLAlchemy engine for PostgreSQL
database_url = "postgresql://uauixbmmi7hdbhbtx1pg:MhJAS62A8ExDnsRIxVK40ab3snEIO2@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw"
engine = create_engine(database_url)

# List of CSV files to import
csv_files = ['https://drive.google.com/file/d/1Nr2R0fHxvJ4e-ULoN6ltjlm5ePuchHAl/view?usp=drive_link',
             'https://drive.google.com/file/d/1_-SdyqN9ElxYUY2YRwW7SjcqQ3NiUMDF/view?usp=drive_link',
             'https://drive.google.com/file/d/1-HN1-UhCPOkHpmFLDPEZZV7rytTyEnRY/view?usp=drive_link',
             'https://drive.google.com/file/d/1F8lCQVGPYn7VD6cZ_tg0bFEgH9qVNT83/view?usp=drive_link',
             'https://drive.google.com/file/d/1JCcn4hLCkSSes21ZPzUMuH1KxZHpjqLl/view?usp=drive_link']  # Add your file names here

# Convert the URLs to direct download format
download_urls = ['https://drive.google.com/uc?id=' + url.split('/')[-2] for url in csv_files]

# List of table names
table_names = ['warranty', 'stores', 'sales', 'products', 'category']  # Replace with your CSV file names

# Loop through each CSV file and corresponding table name
for url, table_name in zip(download_urls, table_names):
    # Read CSV into a pandas DataFrame
    df = pd.read_csv(url)

    # Write DataFrame to SQL as a new table
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)

    print(f"Table '{table_name}' created and data inserted from {url}.")
"""

'\n!pip install sqlalchemy-utils\nimport os\nimport pandas as pd\nfrom sqlalchemy import create_engine\nfrom sqlalchemy_utils import database_exists, create_database\n\n# Create SQLAlchemy engine for PostgreSQL\ndatabase_url = "postgresql://uauixbmmi7hdbhbtx1pg:MhJAS62A8ExDnsRIxVK40ab3snEIO2@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw"\nengine = create_engine(database_url)\n    \n# List of CSV files to import\ncsv_files = [\'https://drive.google.com/file/d/1Nr2R0fHxvJ4e-ULoN6ltjlm5ePuchHAl/view?usp=drive_link\', \n             \'https://drive.google.com/file/d/1_-SdyqN9ElxYUY2YRwW7SjcqQ3NiUMDF/view?usp=drive_link\', \n             \'https://drive.google.com/file/d/1-HN1-UhCPOkHpmFLDPEZZV7rytTyEnRY/view?usp=drive_link\',\n             \'https://drive.google.com/file/d/1F8lCQVGPYn7VD6cZ_tg0bFEgH9qVNT83/view?usp=drive_link\',\n             \'https://drive.google.com/file/d/1JCcn4hLCkSSes21ZPzUMuH1KxZHpjqLl/view?usp=drive_link\']  # Add your file names here\n\n# Convert the URLs to direct download format\ndownload_urls = [\'https://drive.google.com/uc?id=\' + url.split(\'/\')[-2] for url in csv_files]\n\n# List of table names \ntable_names = [\'warranty\', \'stores\', \'sales\', \'products\', \'category\']  # Replace with your CSV file names\n\n# Loop through each CSV file and corresponding table name\nfor url, table_name in zip(download_urls, table_names):\n    # Read CSV into a pandas DataFrame\n    df = pd.read_csv(url)\n        \n    # Write DataFrame to SQL as a new table\n    df.to_sql(table_name, con=engine, if_exists=\'replace\', index=False)\n        \n    print(f"Table \'{table_name}\' created and data inserted from {url}.")\n'

### Query all the tables to verify that they are loaded in correctly

In [107]:
%%sql
select * from warranty limit 3;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
3 rows affected.

[('CL-285', datetime.date(2020, 1, 17), 'OID-363381', 'Free Replaced'),
 ('CL-290', datetime.date(2020, 1, 19), 'OID-363359', 'Free Replaced'),
 ('CL-291', datetime.date(2020, 1, 19), 'OID-363371', 'Free Replaced')]

In [103]:
%%sql
select * from stores limit 3;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
3 rows affected.

[('ST-1', 'Apple Fifth Avenue', 'New York', 'USA'),
 ('ST-2', 'Apple Union Square', 'San Francisco', 'USA'),
 ('ST-3', 'Apple Michigan Avenue', 'Chicago', 'USA')]

In [104]:
%%sql
select * from sales limit 3;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
3 rows affected.

[('OID-358365', datetime.date(2021, 9, 16), 'ST-33', 'P-44', 1),
 ('OID-358510', datetime.date(2022, 1, 28), 'ST-33', 'P-44', 1),
 ('OID-358525', datetime.date(2021, 11, 26), 'ST-33', 'P-44', 1)]

In [105]:
%%sql
select * from products limit 3;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
3 rows affected.

[('P-1', 'MacBook Pro (Touch Bar)', 'CAT-1', datetime.date(2016, 10, 1), 1499),
 ('P-2', 'AirPods', 'CAT-2', datetime.date(2016, 12, 1), 159),
 ('P-3', 'iPad Pro (10.5-inch)', 'CAT-3', datetime.date(2017, 6, 1), 649)]

In [106]:
%%sql
select * from category limit 3;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
3 rows affected.

[('CAT-1', 'Laptop'), ('CAT-2', 'Audio'), ('CAT-3', 'Tablet')]

### <u>Change datatypes of specific columns</u>

### Get the datatypes of the columns

In [39]:
%%sql
SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_name in ('warranty', 'stores', 'sales', 'products', 'category')
group by 1,2,3;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
20 rows affected.

[('category', 'category_id', 'text'),
 ('category', 'category_name', 'text'),
 ('products', 'category_id', 'text'),
 ('products', 'launch_date', 'date'),
 ('products', 'price', 'bigint'),
 ('products', 'product_id', 'text'),
 ('products', 'product_name', 'text'),
 ('sales', 'product_id', 'text'),
 ('sales', 'quantity', 'bigint'),
 ('sales', 'sale_date', 'date'),
 ('sales', 'sale_id', 'text'),
 ('sales', 'store_id', 'text'),
 ('stores', 'city', 'text'),
 ('stores', 'country', 'text'),
 ('stores', 'store_id', 'text'),
 ('stores', 'store_name', 'text'),
 ('warranty', 'claim_date', 'date'),
 ('warranty', 'claim_id', 'text'),
 ('warranty', 'repair_status', 'text'),
 ('warranty', 'sale_id', 'text')]

### Change datatype of date columns from text to date

In [38]:
%%sql

ALTER TABLE products
  ALTER COLUMN launch_date
  SET DATA TYPE date USING launch_date::date;

ALTER TABLE sales
  ALTER COLUMN sale_date
  SET DATA TYPE date USING sale_date::date;
ALTER TABLE warranty
  ALTER COLUMN claim_date
  SET DATA TYPE date USING claim_date::date;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
Done.
Done.
Done.

[]

# <u>Queries</u>

### Confirm date range of data set

In [64]:
%%sql
select min(sales.sale_date) as earliest_date,
  max(sales.sale_date) as latest_date
from sales;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
1 rows affected.

[(datetime.date(2019, 1, 2), datetime.date(2024, 8, 21))]

### Q1. Find each country and number of stores

In [27]:
%%sql
select
	stores.country,
	count(*) as number_of_stores
from stores
group by country
order by country;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
35 rows affected.

[('Argentina', 1),
 ('Australia', 3),
 ('Bolivia', 1),
 ('Brazil', 2),
 ('Canada', 8),
 ('Chile', 1),
 ('China', 4),
 ('Costa Rica', 1),
 ('Dominican Republic', 1),
 ('France', 2),
 ('Germany', 2),
 ('India', 2),
 ('Indonesia', 1),
 ('Italy', 1),
 ('Japan', 2),
 ('Malaysia', 1),
 ('Mexico', 1),
 ('Netherlands', 1),
 ('Peru', 1),
 ('Philippines', 1),
 ('Qatar', 1),
 ('Saudi Arabia', 1),
 ('Singapore', 1),
 ('South Korea', 1),
 ('Spain', 2),
 ('Switzerland', 1),
 ('Taiwan', 1),
 ('Thailand', 1),
 ('Turkey', 2),
 ('UAE', 2),
 ('UK', 10),
 ('Uruguay', 1),
 ('USA', 10),
 ('Venezuela', 1),
 ('Vietnam', 1)]

### Q2. What is the total number of units sold by each store?

In [28]:
%%sql
select
	stores.store_id,
	stores.store_name,
	sum(sales.quantity) total_no_of_units_sold
from stores
join sales
	on stores.store_id = sales.store_id
group by 1,2
order by 3 desc;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
70 rows affected.

[('ST-5', 'Apple South Coast Plaza', Decimal('47498')),
 ('ST-3', 'Apple Michigan Avenue', Decimal('44891')),
 ('ST-4', 'Apple The Grove', Decimal('44784')),
 ('ST-2', 'Apple Union Square', Decimal('44395')),
 ('ST-1', 'Apple Fifth Avenue', Decimal('44367')),
 ('ST-12', 'Apple Yorkdale', Decimal('29882')),
 ('ST-14', 'Apple Pacific Centre', Decimal('29595')),
 ('ST-9', 'Apple Lennox Town Center', Decimal('29536')),
 ('ST-6', 'Apple Scottsdale', Decimal('29504')),
 ('ST-8', 'Apple Eastview Mall', Decimal('29451')),
 ('ST-13', 'Apple Square One', Decimal('29357')),
 ('ST-11', 'Apple Eaton Centre', Decimal('29297')),
 ('ST-10', 'Apple Tysons Corner', Decimal('29215')),
 ('ST-7', 'Apple Mall of America', Decimal('29196')),
 ('ST-53', 'Apple New Delhi', Decimal('27464')),
 ('ST-52', 'Apple Mumbai', Decimal('27455')),
 ('ST-51', 'Apple Seoul', Decimal('27406')),
 ('ST-54', 'Apple Ankara', Decimal('27229')),
 ('ST-55', 'Apple Istanbul', Decimal('27026')),
 ('ST-21', 'Apple Orchard Road', Decimal('23094')),
 ('ST-23', 'Apple Covent Garden', Decimal('23036')),
 ('ST-22', 'Apple Regent Street', Decimal('23030')),
 ('ST-24', 'Apple Bluewater', Decimal('22906')),
 ('ST-25', 'Apple Munich', Decimal('22888')),
 ('ST-18', 'Apple CF Sherway Gardens', Decimal('19351')),
 ('ST-20', 'Apple Shibuya', Decimal('19329')),
 ('ST-16', 'Apple Rideau Centre', Decimal('19329')),
 ('ST-19', 'Apple Marunouchi', Decimal('19202')),
 ('ST-15', 'Apple Chinook Centre', Decimal('19174')),
 ('ST-17', 'Apple West Edmonton Mall', Decimal('19143')),
 ('ST-27', 'Apple Amsterdam', Decimal('14863')),
 ('ST-29', 'Apple Lyon', Decimal('14733')),
 ('ST-26', 'Apple Kurfürstendamm', Decimal('14668')),
 ('ST-30', 'Apple Milan', Decimal('14631')),
 ('ST-28', 'Apple Champs-Élysées', Decimal('14485')),
 ('ST-38', 'Apple Brisbane', Decimal('12196')),
 ('ST-36', 'Apple Sydney', Decimal('12120')),
 ('ST-34', 'Apple Madrid', Decimal('12060')),
 ('ST-35', 'Apple Zurich', Decimal('12056')),
 ('ST-41', 'Apple Mexico City', Decimal('12006')),
 ('ST-40', 'Apple Rio de Janeiro', Decimal('11995')),
 ('ST-37', 'Apple Melbourne', Decimal('11980')),
 ('ST-39', 'Apple São Paulo', Decimal('11978')),
 ('ST-31', 'Apple Dubai Mall', Decimal('11334')),
 ('ST-33', 'Apple Barcelona', Decimal('9918')),
 ('ST-50', 'Apple Taipei', Decimal('8270')),
 ('ST-44', 'Apple Kuala Lumpur', Decimal('8232')),
 ('ST-43', 'Apple Jakarta', Decimal('8173')),
 ('ST-49', 'Apple Chengdu', Decimal('8154')),
 ('ST-42', 'Apple Santiago', Decimal('8140')),
 ('ST-45', 'Apple Bangkok', Decimal('8125')),
 ('ST-48', 'Apple Shanghai', Decimal('8122')),
 ('ST-47', 'Apple Beijing', Decimal('8113')),
 ('ST-46', 'Apple Hong Kong', Decimal('8071')),
 ('ST-32', 'Apple Mall of the Emirates', Decimal('6453')),
 ('ST-62', 'Apple Lima', Decimal('5800')),
 ('ST-64', 'Apple San José', Decimal('5632')),
 ('ST-61', 'Apple Caracas', Decimal('5610')),
 ('ST-63', 'Apple Montevideo', Decimal('5606')),
 ('ST-65', 'Apple La Paz', Decimal('5586')),
 ('ST-58', 'Apple Manila', Decimal('5578')),
 ('ST-56', 'Apple Doha', Decimal('5541')),
 ('ST-57', 'Apple Riyadh', Decimal('5498')),
 ('ST-60', 'Apple Buenos Aires', Decimal('5489')),
 ('ST-59', 'Apple Ho Chi Minh City', Decimal('5424')),
 ('ST-68', 'Apple Manchester', Decimal('714')),
 ('ST-66', 'Apple Santo Domingo', Decimal('709')),
 ('ST-70', 'Apple Newcastle', Decimal('685')),
 ('ST-67', 'Apple Birmingham', Decimal('678')),
 ('ST-69', 'Apple Sheffield', Decimal('647'))]

### Q3. How many sales occurred in December 2023?

In [45]:
%%sql
select
	count(sales.sale_id) as total_sales
from sales
where to_char(sales.sale_date, 'YYYY-MM') = '2023-12'

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
1 rows affected.

[(32846,)]

### Q4. How many stores have never had a warranty claim filed against any of their products?

In [41]:
%%sql
select
	count(*) as no_of_stores_with_no_warranty_claims
from stores
where store_id not in (
	select distinct store_id
	from sales
	right join warranty
		on sales.sale_id = warranty.sale_id
);

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
1 rows affected.

[(58,)]

### Q5. What percentage of warranty claims are marked as "Warranty Void"?
--warranty void/total * 100

In [43]:
%%sql
select
	concat(round(
		count(claim_id) / (select count(*) from warranty)::numeric * 100
		,0), '%') as warranty_void_claims
from warranty
where repair_status = 'Warranty Void';

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
1 rows affected.

[('23%',)]

### Q6. Which store had the highest total units sold in the last year?

In [61]:
%%sql
select
	sales.store_id,
	stores.store_name,
	sum(sales.quantity) total_units_sold
from stores
join sales
	on stores.store_id = sales.store_id
where extract(year from sales.sale_date) = 2023
group by 1,2
order by 3 desc
limit 1;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
1 rows affected.

[('ST-52', 'Apple Mumbai', Decimal('19804'))]

### Q7. Count the number of unique products sold in the last year.

In [62]:
%%sql
select
	count(distinct sales.product_id) as no_of_unique_products_sold_last_year
from sales
where extract(year from sales.sale_date) = 2023

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
1 rows affected.

[(50,)]

### Q8. What is the average price of products in each category?

In [48]:
%%sql
select
	category.category_id,
	category.category_name,
	round(avg(products.price)::numeric,2) as average_product_price
from category
join products
	on category.category_id = products.category_id
group by 1,2;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
10 rows affected.

[('CAT-7', 'Desktop', Decimal('1199.00')),
 ('CAT-8', 'Subscription Service', Decimal('149.50')),
 ('CAT-3', 'Tablet', Decimal('656.50')),
 ('CAT-5', 'Wearable', Decimal('362.33')),
 ('CAT-1', 'Laptop', Decimal('1511.50')),
 ('CAT-4', 'Smartphone', Decimal('889.43')),
 ('CAT-9', 'Smart Speaker', Decimal('99.00')),
 ('CAT-6', 'Streaming Device', Decimal('179.00')),
 ('CAT-10', 'Accessory', Decimal('29.00')),
 ('CAT-2', 'Audio', Decimal('259.00'))]

### Q9. How many warranty claims were filed in 2020?

In [51]:
%%sql
select
	count(*) as no_of_warranty_claims_2020
from warranty
where extract(year from claim_date) = 2020;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
1 rows affected.

[(2750,)]

### Q10. Identify each store and best selling day based on highest qty sold

In [55]:
%%sql
with top_sales_rank as (
  select
	  sales.store_id,
	  to_char(sales.sale_date, 'day') as day_name,
	  sum(sales.quantity) as highest_quantity_sold,
	  rank() over(partition by store_id order by sum(quantity) desc) as rank
  from sales
  group by 1,2
)
select *
from top_sales_rank
where rank = 1;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
70 rows affected.

[('ST-1', 'thursday ', Decimal('6830'), 1),
 ('ST-10', 'sunday   ', Decimal('4432'), 1),
 ('ST-11', 'monday   ', Decimal('4314'), 1),
 ('ST-12', 'sunday   ', Decimal('4539'), 1),
 ('ST-13', 'monday   ', Decimal('4400'), 1),
 ('ST-14', 'thursday ', Decimal('4366'), 1),
 ('ST-15', 'monday   ', Decimal('2879'), 1),
 ('ST-16', 'monday   ', Decimal('2940'), 1),
 ('ST-17', 'thursday ', Decimal('2837'), 1),
 ('ST-18', 'sunday   ', Decimal('2865'), 1),
 ('ST-19', 'monday   ', Decimal('2985'), 1),
 ('ST-2', 'thursday ', Decimal('6614'), 1),
 ('ST-20', 'sunday   ', Decimal('2864'), 1),
 ('ST-21', 'monday   ', Decimal('3522'), 1),
 ('ST-22', 'monday   ', Decimal('3388'), 1),
 ('ST-23', 'monday   ', Decimal('3416'), 1),
 ('ST-24', 'tuesday  ', Decimal('3443'), 1),
 ('ST-25', 'friday   ', Decimal('3403'), 1),
 ('ST-26', 'sunday   ', Decimal('2219'), 1),
 ('ST-27', 'sunday   ', Decimal('2208'), 1),
 ('ST-28', 'thursday ', Decimal('2204'), 1),
 ('ST-29', 'thursday ', Decimal('2239'), 1),
 ('ST-3', 'thursday ', Decimal('6759'), 1),
 ('ST-30', 'sunday   ', Decimal('2200'), 1),
 ('ST-31', 'sunday   ', Decimal('1731'), 1),
 ('ST-32', 'thursday ', Decimal('1028'), 1),
 ('ST-33', 'sunday   ', Decimal('1567'), 1),
 ('ST-34', 'sunday   ', Decimal('1835'), 1),
 ('ST-35', 'tuesday  ', Decimal('1818'), 1),
 ('ST-36', 'tuesday  ', Decimal('1812'), 1),
 ('ST-37', 'sunday   ', Decimal('1768'), 1),
 ('ST-38', 'tuesday  ', Decimal('1919'), 1),
 ('ST-39', 'monday   ', Decimal('1822'), 1),
 ('ST-4', 'thursday ', Decimal('6807'), 1),
 ('ST-40', 'sunday   ', Decimal('1762'), 1),
 ('ST-41', 'thursday ', Decimal('1827'), 1),
 ('ST-42', 'tuesday  ', Decimal('1246'), 1),
 ('ST-43', 'sunday   ', Decimal('1288'), 1),
 ('ST-44', 'tuesday  ', Decimal('1264'), 1),
 ('ST-45', 'monday   ', Decimal('1238'), 1),
 ('ST-46', 'thursday ', Decimal('1258'), 1),
 ('ST-47', 'tuesday  ', Decimal('1216'), 1),
 ('ST-48', 'tuesday  ', Decimal('1235'), 1),
 ('ST-49', 'tuesday  ', Decimal('1240'), 1),
 ('ST-5', 'thursday ', Decimal('7221'), 1),
 ('ST-50', 'sunday   ', Decimal('1258'), 1),
 ('ST-51', 'sunday   ', Decimal('4169'), 1),
 ('ST-52', 'sunday   ', Decimal('4234'), 1),
 ('ST-53', 'sunday   ', Decimal('4186'), 1),
 ('ST-54', 'sunday   ', Decimal('4161'), 1),
 ('ST-55', 'sunday   ', Decimal('4167'), 1),
 ('ST-56', 'tuesday  ', Decimal('857'), 1),
 ('ST-57', 'sunday   ', Decimal('867'), 1),
 ('ST-58', 'tuesday  ', Decimal('884'), 1),
 ('ST-59', 'sunday   ', Decimal('835'), 1),
 ('ST-6', 'thursday ', Decimal('4355'), 1),
 ('ST-60', 'thursday ', Decimal('845'), 1),
 ('ST-61', 'thursday ', Decimal('873'), 1),
 ('ST-62', 'tuesday  ', Decimal('921'), 1),
 ('ST-63', 'tuesday  ', Decimal('960'), 1),
 ('ST-64', 'tuesday  ', Decimal('907'), 1),
 ('ST-65', 'tuesday  ', Decimal('865'), 1),
 ('ST-66', 'monday   ', Decimal('112'), 1),
 ('ST-67', 'thursday ', Decimal('114'), 1),
 ('ST-68', 'tuesday  ', Decimal('110'), 1),
 ('ST-69', 'friday   ', Decimal('101'), 1),
 ('ST-7', 'thursday ', Decimal('4307'), 1),
 ('ST-70', 'sunday   ', Decimal('111'), 1),
 ('ST-8', 'thursday ', Decimal('4377'), 1),
 ('ST-9', 'sunday   ', Decimal('4462'), 1)]

### Q11. Identify least selling product of each country for each year based on total unit sold

In [73]:
%%sql
with bottom_sales_rank as
(
select
	stores.country,
  extract(year from sales.sale_date) as year,
	products.product_name,
	sum(sales.quantity) as total_qty_sold,
	rank() over(partition by extract(year from sales.sale_date), stores.country order by sum(sales.quantity)) as rank
from products
join sales
	on products.product_id = sales.product_id
join stores
	on sales.store_id = stores.store_id
group by 1,2,3
order by 1,2
)
select *
from bottom_sales_rank
where rank = 1;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
188 rows affected.

[('Argentina', Decimal('2021'), 'iPhone 13 Mini', Decimal('28'), 1),
 ('Argentina', Decimal('2022'), 'iPad Pro (M1, 11-inch)', Decimal('5'), 1),
 ('Argentina', Decimal('2022'), 'Apple TV 4K', Decimal('5'), 1),
 ('Argentina', Decimal('2023'), 'iPhone 15 Pro Max', Decimal('139'), 1),
 ('Argentina', Decimal('2024'), 'iPhone 15', Decimal('60'), 1),
 ('Australia', Decimal('2020'), 'Apple Fitness+', Decimal('37'), 1),
 ('Australia', Decimal('2021'), 'Mac mini (M1)', Decimal('28'), 1),
 ('Australia', Decimal('2021'), 'iPhone 12 Mini', Decimal('28'), 1),
 ('Australia', Decimal('2022'), 'Apple TV 4K', Decimal('22'), 1),
 ('Australia', Decimal('2022'), 'iPad Pro (M1, 12.9-inch)', Decimal('22'), 1),
 ('Australia', Decimal('2022'), 'iMac (24-inch, M1)', Decimal('22'), 1),
 ('Australia', Decimal('2023'), 'iPhone 15', Decimal('400'), 1),
 ('Australia', Decimal('2024'), 'iPhone 15', Decimal('235'), 1),
 ('Bolivia', Decimal('2021'), 'iPhone 13 Mini', Decimal('25'), 1),
 ('Bolivia', Decimal('2022'), 'iPad Pro (M1, 11-inch)', Decimal('4'), 1),
 ('Bolivia', Decimal('2023'), 'iPhone 15', Decimal('131'), 1),
 ('Bolivia', Decimal('2024'), 'iPhone 15 Pro', Decimal('88'), 1),
 ('Brazil', Decimal('2020'), 'Apple Fitness+', Decimal('27'), 1),
 ('Brazil', Decimal('2021'), 'MacBook Air (M1)', Decimal('15'), 1),
 ('Brazil', Decimal('2022'), 'iMac (24-inch, M1)', Decimal('8'), 1),
 ('Brazil', Decimal('2023'), 'iPhone 15', Decimal('272'), 1),
 ('Brazil', Decimal('2024'), 'iPhone 15 Pro Max', Decimal('156'), 1),
 ('Canada', Decimal('2019'), 'iPad (7th Gen)', Decimal('704'), 1),
 ('Canada', Decimal('2020'), 'Mac mini (M1)', Decimal('200'), 1),
 ('Canada', Decimal('2021'), 'MacBook Air (M1)', Decimal('69'), 1),
 ('Canada', Decimal('2022'), 'iPhone 12 Pro Max', Decimal('490'), 1),
 ('Canada', Decimal('2023'), 'AirPods Pro (2nd Gen)', Decimal('1158'), 1),
 ('Canada', Decimal('2024'), 'iPhone 15 Pro', Decimal('479'), 1),
 ('Chile', Decimal('2020'), 'Apple Fitness+', Decimal('10'), 1),
 ('Chile', Decimal('2021'), 'Mac mini (M1)', Decimal('6'), 1),
 ('Chile', Decimal('2022'), 'iMac (24-inch, M1)', Decimal('4'), 1),
 ('Chile', Decimal('2023'), 'iPhone 15', Decimal('123'), 1),
 ('Chile', Decimal('2024'), 'iPhone 15 Pro Max', Decimal('84'), 1),
 ('Chile', Decimal('2024'), 'iPhone 15', Decimal('84'), 1),
 ('China', Decimal('2020'), 'Apple Fitness+', Decimal('64'), 1),
 ('China', Decimal('2021'), 'MacBook Pro (M1, 13-inch)', Decimal('38'), 1),
 ('China', Decimal('2022'), 'iPad Pro (M1, 11-inch)', Decimal('24'), 1),
 ('China', Decimal('2022'), 'Apple TV 4K', Decimal('24'), 1),
 ('China', Decimal('2023'), 'iPhone 15 Pro', Decimal('545'), 1),
 ('China', Decimal('2024'), 'iPhone 15', Decimal('331'), 1),
 ('Costa Rica', Decimal('2021'), 'iPhone 13 Mini', Decimal('25'), 1),
 ('Costa Rica', Decimal('2022'), 'Apple TV 4K', Decimal('5'), 1),
 ('Costa Rica', Decimal('2023'), 'iPhone 15', Decimal('128'), 1),
 ('Costa Rica', Decimal('2024'), 'iPhone 15', Decimal('79'), 1),
 ('Dominican Republic', Decimal('2023'), 'iPhone 15 Pro', Decimal('145'), 1),
 ('Dominican Republic', Decimal('2024'), 'iPhone 15 Pro', Decimal('80'), 1),
 ('Dominican Republic', Decimal('2024'), 'iPhone 15', Decimal('80'), 1),
 ('France', Decimal('2019'), 'Apple Watch Series 5', Decimal('137'), 1),
 ('France', Decimal('2020'), 'AirPods Max', Decimal('23'), 1),
 ('France', Decimal('2021'), 'iPhone 12 Pro Max', Decimal('13'), 1),
 ('France', Decimal('2022'), 'iPhone 13 Mini', Decimal('25'), 1),
 ('France', Decimal('2023'), 'iPhone 15', Decimal('356'), 1),
 ('France', Decimal('2024'), 'iPhone 15 Pro', Decimal('99'), 1),
 ('Germany', Decimal('2019'), 'iPad (7th Gen)', Decimal('140'), 1),
 ('Germany', Decimal('2020'), 'Apple Fitness+', Decimal('25'), 1),
 ('Germany', Decimal('2021'), 'iPhone 12 Mini', Decimal('12'), 1),
 ('Germany', Decimal('2022'), 'Apple Watch Series 5', Decimal('54'), 1),
 ('Germany', Decimal('2023'), 'Apple Watch SE (2nd Gen)', Decimal('161'), 1),
 ('Germany', Decimal('2024'), 'iPhone 15 Pro Max', Decimal('110'), 1),
 ('India', Decimal('2020'), 'Apple Fitness+', Decimal('22'), 1),
 ('India', Decimal('2021'), 'iPhone 12 Pro Max', Decimal('12'), 1),
 ('India', Decimal('2022'), 'Apple TV 4K', Decimal('7'), 1),
 ('India', Decimal('2023'), 'iPad Pro (M2, 11-inch)', Decimal('615'), 1),
 ('India', Decimal('2024'), 'iPhone 15 Pro', Decimal('162'), 1),
 ('Indonesia', Decimal('2020'), 'AirPods Max', Decimal('11'), 1),
 ('Indonesia', Decimal('2021'), 'HomePod mini', Decimal('9'), 1),
 ('Indonesia', Decimal('2022'), 'iMac (24-inch, M1)', Decimal('4'), 1),
 ('Indonesia', Decimal('2023'), 'iPhone 15 Pro Max', Decimal('142'), 1),
 ('Indonesia', Decimal('2024'), 'iPhone 15 Pro Max', Decimal('74'), 1),
 ('Italy', Decimal('2019'), 'Apple Watch Series 5', Decimal('71'), 1),
 ('Italy', Decimal('2020'), 'AirPods Max', Decimal('15'), 1),
 ('Italy', Decimal('2021'), 'MacBook Air (M1)', Decimal('3'), 1),
 ('Italy', Decimal('2022'), 'iPhone 13 Mini', Decimal('9'), 1),
 ('Italy', Decimal('2023'), 'iPhone 15', Decimal('182'), 1),
 ('Italy', Decimal('2024'), 'iPhone 15', Decimal('59'), 1),
 ('Japan', Decimal('2019'), 'iPhone 11 Pro', Decimal('131'), 1),
 ('Japan', Decimal('2020'), 'AirPods Max', Decimal('36'), 1),
 ('Japan', Decimal('2021'), 'MacBook Air (M1)', Decimal('13'), 1),
 ('Japan', Decimal('2022'), 'iPad (7th Gen)', Decimal('120'), 1),
 ('Japan', Decimal('2023'), 'Apple Watch SE (2nd Gen)', Decimal('258'), 1),
 ('Japan', Decimal('2024'), 'iPhone 15 Pro', Decimal('112'), 1),
 ('Malaysia', Decimal('2020'), 'Apple Fitness+', Decimal('11'), 1),
 ('Malaysia', Decimal('2021'), 'MacBook Air (M1)', Decimal('8'), 1),
 ('Malaysia', Decimal('2022'), 'Apple TV 4K', Decimal('3'), 1),
 ('Malaysia', Decimal('2022'), 'iMac (24-inch, M1)', Decimal('3'), 1),
 ('Malaysia', Decimal('2023'), 'iPhone 15 Pro Max', Decimal('147'), 1),
 ('Malaysia', Decimal('2023'), 'iPhone 15 Pro', Decimal('147'), 1),
 ('Malaysia', Decimal('2024'), 'iPhone 15', Decimal('76'), 1),
 ('Mexico', Decimal('2020'), 'Apple Fitness+', Decimal('14'), 1),
 ('Mexico', Decimal('2020'), 'AirPods Max', Decimal('14'), 1),
 ('Mexico', Decimal('2021'), 'Mac mini (M1)', Decimal('7'), 1),
 ('Mexico', Decimal('2022'), 'Apple TV 4K', Decimal('1'), 1),
 ('Mexico', Decimal('2023'), 'iPhone 15', Decimal('140'), 1),
 ('Mexico', Decimal('2024'), 'iPhone 15', Decimal('79'), 1),
 ('Netherlands', Decimal('2019'), 'iPad (7th Gen)', Decimal('51'), 1),
 ('Netherlands', Decimal('2020'), 'AirPods Max', Decimal('14'), 1),
 ('Netherlands', Decimal('2021'), 'MacBook Pro (M1, 13-inch)', Decimal('9'), 1),
 ('Netherlands', Decimal('2021'), 'HomePod mini', Decimal('9'), 1),
 ('Netherlands', Decimal('2022'), 'iPhone 13 Mini', Decimal('9'), 1),
 ('Netherlands', Decimal('2023'), 'iPhone 15 Pro Max', Decimal('158'), 1),
 ('Netherlands', Decimal('2024'), 'iPhone 15', Decimal('54'), 1),
 ('Peru', Decimal('2021'), 'iPhone 13 Mini', Decimal('28'), 1),
 ('Peru', Decimal('2022'), 'iPad Pro (M1, 12.9-inch)', Decimal('7'), 1),
 ('Peru', Decimal('2022'), 'Apple TV 4K', Decimal('7'), 1),
 ('Peru', Decimal('2023'), 'iPhone 15', Decimal('151'), 1),
 ('Peru', Decimal('2024'), 'iPhone 15 Pro', Decimal('78'), 1),
 ('Philippines', Decimal('2021'), 'iPhone 13 Mini', Decimal('23'), 1),
 ('Philippines', Decimal('2022'), 'iPad Pro (M1, 11-inch)', Decimal('5'), 1),
 ('Philippines', Decimal('2023'), 'iPhone 15 Pro Max', Decimal('142'), 1),
 ('Philippines', Decimal('2024'), 'iPhone 15', Decimal('76'), 1),
 ('Qatar', Decimal('2021'), 'iPhone 13 Mini', Decimal('24'), 1),
 ('Qatar', Decimal('2022'), 'iMac (24-inch, M1)', Decimal('5'), 1),
 ('Qatar', Decimal('2023'), 'iPhone 15 Pro Max', Decimal('124'), 1),
 ('Qatar', Decimal('2024'), 'iPhone 15 Pro Max', Decimal('80'), 1),
 ('Saudi Arabia', Decimal('2021'), 'iPhone 13 Mini', Decimal('34'), 1),
 ('Saudi Arabia', Decimal('2022'), 'iMac (24-inch, M1)', Decimal('2'), 1),
 ('Saudi Arabia', Decimal('2023'), 'iPhone 15', Decimal('125'), 1),
 ('Saudi Arabia', Decimal('2024'), 'iPhone 15 Pro Max', Decimal('81'), 1),
 ('Singapore', Decimal('2019'), 'iPhone 11 Pro Max', Decimal('63'), 1),
 ('Singapore', Decimal('2020'), 'Apple Fitness+', Decimal('12'), 1),
 ('Singapore', Decimal('2021'), 'HomePod mini', Decimal('5'), 1),
 ('Singapore', Decimal('2022'), 'Apple Watch Series 5', Decimal('51'), 1),
 ('Singapore', Decimal('2023'), 'Apple Watch SE (2nd Gen)', Decimal('149'), 1),
 ('Singapore', Decimal('2024'), 'iPhone 15', Decimal('50'), 1),
 ('South Korea', Decimal('2020'), 'Apple Fitness+', Decimal('18'), 1),
 ('South Korea', Decimal('2021'), 'Mac mini (M1)', Decimal('8'), 1),
 ('South Korea', Decimal('2022'), 'iPad Pro (M1, 11-inch)', Decimal('4'), 1),
 ('South Korea', Decimal('2023'), 'iPad (10th Gen)', Decimal('312'), 1),
 ('South Korea', Decimal('2023'), 'iPhone 13 Mini', Decimal('312'), 1),
 ('South Korea', Decimal('2024'), 'iPhone 15', Decimal('83'), 1),
 ('Spain', Decimal('2020'), 'Apple Fitness+', Decimal('24'), 1),
 ('Spain', Decimal('2020'), 'AirPods Max', Decimal('24'), 1),
 ('Spain', Decimal('2021'), 'MacBook Pro (M1, 13-inch)', Decimal('5'), 1),
 ('Spain', Decimal('2022'), 'iPad Pro (M1, 11-inch)', Decimal('6'), 1),
 ('Spain', Decimal('2022'), 'iMac (24-inch, M1)', Decimal('6'), 1),
 ('Spain', Decimal('2023'), 'iPhone 15', Decimal('307'), 1),
 ('Spain', Decimal('2024'), 'iPhone 15 Pro', Decimal('175'), 1),
 ('Switzerland', Decimal('2020'), 'Apple Fitness+', Decimal('14'), 1),
 ('Switzerland', Decimal('2021'), 'iPhone 12 Pro Max', Decimal('7'), 1),
 ('Switzerland', Decimal('2022'), 'iMac (24-inch, M1)', Decimal('3'), 1),
 ('Switzerland', Decimal('2023'), 'iPhone 15', Decimal('146'), 1),
 ('Switzerland', Decimal('2024'), 'iPhone 15 Pro', Decimal('83'), 1),
 ('Taiwan', Decimal('2020'), 'Apple Fitness+', Decimal('11'), 1),
 ('Taiwan', Decimal('2021'), 'MacBook Air (M1)', Decimal('9'), 1),
 ('Taiwan', Decimal('2022'), 'iPad Pro (M1, 11-inch)', Decimal('1'), 1),
 ('Taiwan', Decimal('2023'), 'iPhone 15 Pro', Decimal('137'), 1),
 ('Taiwan', Decimal('2024'), 'iPhone 15 Pro', Decimal('86'), 1),
 ('Thailand', Decimal('2020'), 'AirPods Max', Decimal('17'), 1),
 ('Thailand', Decimal('2021'), 'HomePod mini', Decimal('4'), 1),
 ('Thailand', Decimal('2022'), 'Apple TV 4K', Decimal('4'), 1),
 ('Thailand', Decimal('2023'), 'iPhone 15', Decimal('134'), 1),
 ('Thailand', Decimal('2024'), 'iPhone 15 Pro', Decimal('85'), 1),
 ('Turkey', Decimal('2020'), 'AirPods Max', Decimal('22'), 1),
 ('Turkey', Decimal('2021'), 'MacBook Air (M1)', Decimal('12'), 1),
 ('Turkey', Decimal('2022'), 'Apple TV 4K', Decimal('9'), 1),
 ('Turkey', Decimal('2022'), 'iMac (24-inch, M1)', Decimal('9'), 1),
 ('Turkey', Decimal('2023'), 'iPad Pro (M1, 11-inch)', Decimal('599'), 1),
 ('Turkey', Decimal('2024'), 'iPhone 15 Pro', Decimal('163'), 1),
 ('UAE', Decimal('2020'), 'Apple Fitness+', Decimal('31'), 1),
 ('UAE', Decimal('2021'), 'MacBook Pro (M1, 13-inch)', Decimal('5'), 1),
 ('UAE', Decimal('2022'), 'iPhone 13 Pro', Decimal('33'), 1),
 ('UAE', Decimal('2022'), 'iPhone 13', Decimal('33'), 1),
 ('UAE', Decimal('2023'), 'AirPods Pro (2nd Gen)', Decimal('190'), 1),
 ('UK', Decimal('2019'), 'Apple Watch Series 5', Decimal('186'), 1),
 ('UK', Decimal('2020'), 'Apple Fitness+', Decimal('35'), 1),
 ('UK', Decimal('2021'), 'Mac mini (M1)', Decimal('22'), 1),
 ('UK', Decimal('2022'), 'Mac mini (2018)', Decimal('174'), 1),
 ('UK', Decimal('2022'), 'HomePod mini', Decimal('174'), 1),
 ('UK', Decimal('2023'), 'Apple Watch Series 8', Decimal('405'), 1),
 ('UK', Decimal('2024'), 'iPhone 15 Pro Max', Decimal('506'), 1),
 ('Uruguay', Decimal('2021'), 'iPhone 13 Mini', Decimal('25'), 1),
 ('Uruguay', Decimal('2022'), 'iMac (24-inch, M1)', Decimal('3'), 1),
 ('Uruguay', Decimal('2023'), 'iPhone 15', Decimal('129'), 1),
 ('Uruguay', Decimal('2024'), 'iPhone 15', Decimal('85'), 1),
 ('USA', Decimal('2019'), 'iPhone 11', Decimal('903'), 1),
 ('USA', Decimal('2020'), 'iPhone 12 Mini', Decimal('245'), 1),
 ('USA', Decimal('2021'), 'Mac mini (M1)', Decimal('84'), 1),
 ('USA', Decimal('2022'), 'iPhone 11', Decimal('622'), 1),
 ('USA', Decimal('2023'), 'AirPods Pro (2nd Gen)', Decimal('1444'), 1),
 ('USA', Decimal('2024'), 'iPhone 15 Pro Max', Decimal('586'), 1),
 ('Venezuela', Decimal('2021'), 'iPhone 13 Mini', Decimal('33'), 1),
 ('Venezuela', Decimal('2022'), 'iPad Pro (M1, 12.9-inch)', Decimal('5'), 1),
 ('Venezuela', Decimal('2023'), 'iPhone 15 Pro Max', Decimal('139'), 1),
 ('Venezuela', Decimal('2024'), 'iPhone 15', Decimal('78'), 1),
 ('Vietnam', Decimal('2021'), 'iPhone 13 Mini', Decimal('32'), 1),
 ('Vietnam', Decimal('2022'), 'iMac (24-inch, M1)', Decimal('4'), 1),
 ('Vietnam', Decimal('2023'), 'iPhone 15', Decimal('131'), 1),
 ('Vietnam', Decimal('2024'), 'iPhone 15 Pro', Decimal('47'), 1)]

### Q12. How many warranty claims were filed within 180 days of a product sale?

In [75]:
%%sql
select
	count(warranty.claim_id) as warranty_claims_filed_within_180_days
from warranty
left join sales
	on warranty.sale_id = sales.sale_id
where warranty.claim_date - sales.sale_date <= 180;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
1 rows affected.

[(19907,)]

### Q13.  Determine how many warranty claims were filed for products launched in the last two years.

In [84]:
%%sql
select
	products.product_name,
  extract(year from products.launch_date) as launch_date,
	count(warranty.claim_id) as no_warranty
from warranty
join sales on warranty.sale_id = sales.sale_id
join products on sales.product_id = products.product_id
where extract(year from products.launch_date) >= 2022
group by 1,2
order by 2;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
9 rows affected.

[('AirPods Pro (2nd Gen)', Decimal('2022'), 913),
 ('iPad (10th Gen)', Decimal('2022'), 685),
 ('iPad Pro (M2, 11-inch)', Decimal('2022'), 716),
 ('iPhone 14', Decimal('2022'), 1321),
 ('iPhone 14 Pro', Decimal('2022'), 1260),
 ('iPhone SE (3rd Gen)', Decimal('2022'), 1885),
 ('iPhone 15', Decimal('2023'), 321),
 ('iPhone 15 Pro', Decimal('2023'), 290),
 ('iPhone 15 Pro Max', Decimal('2023'), 320)]

### Q.14 List the months in the last three years where sales exceeded 5,000 units in the USA.

In [92]:
%%sql
select
	extract(year from sales.sale_date) as year,
	extract(month from sales.sale_date) as month,
	count(sales.sale_id) as sales_qty
from sales
join stores on sales.store_id = stores.store_id
where extract(year from sales.sale_date) >= 2021
	and stores.country = 'USA'
group by 1,2
having count(sales.sale_id) > 5000
order by 1,2;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
9 rows affected.

[(Decimal('2021'), Decimal('10'), 7861),
 (Decimal('2021'), Decimal('11'), 7169),
 (Decimal('2021'), Decimal('12'), 6199),
 (Decimal('2022'), Decimal('3'), 5831),
 (Decimal('2022'), Decimal('4'), 5779),
 (Decimal('2022'), Decimal('9'), 9789),
 (Decimal('2022'), Decimal('10'), 11005),
 (Decimal('2022'), Decimal('11'), 11289),
 (Decimal('2022'), Decimal('12'), 10724)]

### Q.15 Identify the product category with the most warranty claims filed in the last two years.

In [94]:
%%sql
select
	category.category_name,
	count(warranty.claim_id) as no_warranties
from category
join products on category.category_id = products.category_id
join sales on products.product_id = sales.product_id
join warranty on sales.sale_id = warranty.sale_id
where extract(year from sales.sale_date) >= 2022
group by 1
order by 2 desc
limit 1;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
1 rows affected.

[('Smartphone', 9244)]

### Q.16 Categorize the number of units sold by store as sales being 'high', 'medium', and 'low'.
*   Determine the ranges of 'high', 'medium', 'low'

In [99]:
%%sql
with sales_range as
(
select
	stores.store_name,
	count(sales.sale_id) as total_units_sold
from products
join sales on products.product_id = sales.product_id
join stores on sales.store_id = stores.store_id
group by 1
)
select
	min(total_units_sold) as min,
	round((min(total_units_sold) + ((avg(total_units_sold)-min(total_units_sold))/2)),0) as min_range,
	round(avg(total_units_sold), 0) as average,
	round((avg(total_units_sold) + ((max(total_units_sold)-avg(total_units_sold))/2)),0) as max_range,
	max(total_units_sold) as max
from
sales_range;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
1 rows affected.

[(647, Decimal('7753'), Decimal('14860'), Decimal('26168'), 37477)]

In [98]:
%%sql
--using the calculated ranges in above query, display the stores, units_sold, and category
select
	stores.store_name,
	count(sales.sale_id) as total_units_sold,
	case
		when count(sales.sale_id) <= 7753 then 'low'
		when count(sales.sale_id) between 7753 and 26168 then 'medium'
		when count(sales.sale_id) >= 26168 then 'high'
	end as category
from products
join sales on products.product_id = sales.product_id
join stores on sales.store_id = stores.store_id
group by 1
order by 2;

 * postgresql://uauixbmmi7hdbhbtx1pg:***@bvgtnd4fd1nog8jcnfvw-postgresql.services.clever-cloud.com:50013/bvgtnd4fd1nog8jcnfvw
70 rows affected.

[('Apple Sheffield', 647, 'low'),
 ('Apple Birmingham', 678, 'low'),
 ('Apple Newcastle', 685, 'low'),
 ('Apple Santo Domingo', 709, 'low'),
 ('Apple Manchester', 714, 'low'),
 ('Apple Ho Chi Minh City', 5424, 'low'),
 ('Apple Buenos Aires', 5489, 'low'),
 ('Apple Riyadh', 5498, 'low'),
 ('Apple Doha', 5541, 'low'),
 ('Apple Manila', 5578, 'low'),
 ('Apple La Paz', 5586, 'low'),
 ('Apple Montevideo', 5606, 'low'),
 ('Apple Caracas', 5610, 'low'),
 ('Apple San José', 5632, 'low'),
 ('Apple Lima', 5800, 'low'),
 ('Apple Mall of the Emirates', 5934, 'low'),
 ('Apple Hong Kong', 7493, 'low'),
 ('Apple Santiago', 7523, 'low'),
 ('Apple Beijing', 7537, 'low'),
 ('Apple Shanghai', 7550, 'low'),
 ('Apple Bangkok', 7553, 'low'),
 ('Apple Chengdu', 7557, 'low'),
 ('Apple Jakarta', 7583, 'low'),
 ('Apple Kuala Lumpur', 7616, 'low'),
 ('Apple Taipei', 7722, 'low'),
 ('Apple Barcelona', 9321, 'medium'),
 ('Apple Dubai Mall', 10745, 'medium'),
 ('Apple Melbourne', 11347, 'medium'),
 ('Apple Rio de Janeiro', 11389, 'medium'),
 ('Apple São Paulo', 11431, 'medium'),
 ('Apple Mexico City', 11459, 'medium'),
 ('Apple Madrid', 11468, 'medium'),
 ('Apple Zurich', 11488, 'medium'),
 ('Apple Sydney', 11559, 'medium'),
 ('Apple Brisbane', 11599, 'medium'),
 ('Apple Champs-Élysées', 12644, 'medium'),
 ('Apple Kurfürstendamm', 12717, 'medium'),
 ('Apple Milan', 12738, 'medium'),
 ('Apple Lyon', 12837, 'medium'),
 ('Apple Amsterdam', 12874, 'medium'),
 ('Apple Marunouchi', 17227, 'medium'),
 ('Apple Chinook Centre', 17284, 'medium'),
 ('Apple West Edmonton Mall', 17304, 'medium'),
 ('Apple Shibuya', 17370, 'medium'),
 ('Apple Rideau Centre', 17403, 'medium'),
 ('Apple CF Sherway Gardens', 17443, 'medium'),
 ('Apple Bluewater', 20981, 'medium'),
 ('Apple Munich', 20998, 'medium'),
 ('Apple Regent Street', 21075, 'medium'),
 ('Apple Covent Garden', 21105, 'medium'),
 ('Apple Orchard Road', 21165, 'medium'),
 ('Apple Tysons Corner', 23310, 'medium'),
 ('Apple Mall of America', 23329, 'medium'),
 ('Apple Square One', 23388, 'medium'),
 ('Apple Eastview Mall', 23421, 'medium'),
 ('Apple Eaton Centre', 23435, 'medium'),
 ('Apple Scottsdale', 23445, 'medium'),
 ('Apple Lennox Town Center', 23546, 'medium'),
 ('Apple Pacific Centre', 23580, 'medium'),
 ('Apple Yorkdale', 23728, 'medium'),
 ('Apple Seoul', 26448, 'high'),
 ('Apple Istanbul', 26512, 'high'),
 ('Apple Mumbai', 26550, 'high'),
 ('Apple New Delhi', 26650, 'high'),
 ('Apple Ankara', 26672, 'high'),
 ('Apple Fifth Avenue', 34828, 'high'),
 ('Apple Union Square', 35044, 'high'),
 ('Apple The Grove', 35208, 'high'),
 ('Apple Michigan Avenue', 35384, 'high'),
 ('Apple South Coast Plaza', 37477, 'high')]